@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="This is fire-new Blazor UI!" />

<Masa.Blazor.Custom.Shared.Presets.ColorGroup Colors='new List<string>{"blue","green","yellow","red"}'>
    <ItemAppendContent>
        @context
    </ItemAppendContent>
</Masa.Blazor.Custom.Shared.Presets.ColorGroup>
